body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.js-console {
    resize: none;
    width: 70%;
    height: 500px;
    font-size: 20px;
    border: 3px groove gray;
    background-color: black;
    color: white;
    padding: 5px;
    overflow: auto;

}

article {
    display: none;
    border: 2px solid black;
    width: 70%;

}

#article1 {
    display: block;
}

input {
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
}

button {
    margin: 10px;
    margin-left: 0;
    width: 70px;
}

table, tr, td, th {
    border: 1px solid black;
    text-align: center;
}

th {
    font-weight: bold;
    background: darkseagreen;
}

th, td {
    padding: 3px;
}

h1 {
    padding: 10px;
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
    padding-left: 10px;
    font-weight: bold;
    font-style: italic;
}

table {
    margin-left: 10px;
}

label {
    margin-left: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

h3 {
    font-style: italic;
}

#problem31, #problem32, #problem111, #problem112 {
    width: 200px;
}

#problem21, #problem22 {
    width: 100px;
}

#problem7 {
    width: 350px;
}

#problem10 {
    width: 500px;
}

textarea {
    display: inline-block;
    float: right;
    margin-right: 500px;
    text-align: justify;
}

h5 {
    text-decoration: underline;
}

h4 {
    padding-left: 10px;
    border: 1px solid black;
    width: 400px;
}

#article1 input {
    width: 100px;
}

textarea {
    display: inline-block;
    float: right;
    margin-right: 500px;
    text-align: justify;
}

#article3, #article4 {
    height: 500px;
}

#article6 {
    height: 580px;
}

#article8 {
    height: 450px;
}

#article8 table {

    margin-bottom: 50px;

}

#article12 {
    height: 600px;
}

#article9 {
    height: 300px;
}

#problem3, #problem4, #problem5, #problem6, #problem8, #problem9, #problem12 {
    display: inline-block;
}

#problem31, #problem4, #problem5, #problem6, #problem8, #problem9, #problem12 {
    display: inline-block;
    margin-right: 440px;
    width: 750px;
    height: 100px;
}

#problem3buttons, #problem4buttons, #problem5buttons, #problem6buttons, #problem8buttons, #problem9buttons, #problem12buttons {
    margin-top: 20px;
    margin-left: 10px;

}

#problem32 {
    margin-top: 15px;

}